<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
</h:head>

<h:body>
	<header>
		<ui:include src="./menu.xhtml" />
	</header>

	<main>
		<h:form id="cadPessoas">
			<div style="margin-top: 20px;">
				<h:messages showDetail="true" showSummary="false" />
				<h:panelGrid columns="2">

					<h:outputLabel value="ID:" />
					<h:outputText readonly="true" value="#{pessoaManagedBean.pessoa.id}" />

					<h:outputLabel value="Nome:" />
					<h:inputText value="#{pessoaManagedBean.pessoa.nome}"
						requiredMessage="Informe o nome" />

					<h:outputLabel value="E-Mail:" />
					<h:inputText value="#{pessoaManagedBean.pessoa.email}"
						requiredMessage="Informe o E-Mail" />

					<h:outputLabel value="Tipo:" />
					<h:selectOneMenu id="console"
						value="#{pessoaManagedBean.pessoa.tipo}" style="width: 177px;">
						<f:selectItem itemLabel="Selecione uma opção" itemValue="" />
						<f:selectItem itemLabel="Aluno" itemValue="Aluno" />
						<f:selectItem itemLabel="Especialista" itemValue="Especialista" />
					</h:selectOneMenu>

					<h:outputLabel value="Senha:" />
					<h:inputSecret value="#{pessoaManagedBean.pessoa.senha}"
						requiredMessage="Informe a senha" />

				</h:panelGrid>

				<br />
				<h:commandButton value="Salvar"
					action="#{pessoaManagedBean.insertPessoa}"
					style="width: 100px; margin-left: 20px;" />
				<h:commandButton value="Novo"
					action="#{pessoaManagedBean.newPessoa}"
					style="width: 100px; margin-left: 20px;" />
			</div>
		</h:form>
		
		<h:form id="listPessoas">
			<div style="margin-top: 20px;">
				<p:dataTable value="#{pessoaManagedBean.listPessoas}" var="pessoas"
					style="width: 70%; margin: auto;">
					<f:facet name="header">Lista de Pessoas Cadastradas</f:facet>
					<p:column headerText="Id" style="width: 60px;">
						<h:outputText value="#{pessoas.id}" />
					</p:column>
					<p:column headerText="Nome" style="width: 200px;">
						<h:outputText value="#{pessoas.nome}" />
					</p:column>
					<p:column headerText="E-Mail" style="width: 250px;">
						<h:outputText value="#{pessoas.email}" />
					</p:column>
					<p:column headerText="Tipo"
						style="width: 80px; text-align: center;">
						<h:outputText value="#{pessoas.tipo}" />
					</p:column>
					<p:column headerText="Editar"
						style="width: 90px; text-align: center;">
						<h:commandLink value="Editar" id="btnEdit">
							<f:setPropertyActionListener value="#{pessoas}"
								target="#{pessoaManagedBean.pessoa}" />
							<f:ajax execute="btnEdit" render="@form :cadPessoas" />
						</h:commandLink>
					</p:column>
					<p:column headerText="Remover"
						style="width: 90px; text-align: center;">
						<h:commandLink value="Remover"
							action="#{pessoaManagedBean.deletePessoa}">
							<f:setPropertyActionListener value="#{pessoas}"
								target="#{pessoaManagedBean.pessoa}" />
						</h:commandLink>
					</p:column>
				</p:dataTable>
			</div>
		</h:form>
	</main>
</h:body>
</html>