<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
</h:head>

<h:body>
	<header>
		<ui:include src="./menu.xhtml" />
	</header>

	<main>

		<h:form id="cadProva">
			<div style="margin-top: 20px;">
				<h:messages showDetail="true" showSummary="false" id="msg" />
				<h:panelGrid columns="2">

					<h:outputLabel value="ID:" />
					<h:outputText readonly="true" value="#{provaManegedBean.prova.id}" />

					<h:outputLabel value="Descrição:" />
					<h:inputText value="#{provaManegedBean.prova.descricao}"/>

					<h:outputLabel value="Status:" />
					<p:selectBooleanCheckbox value="#{provaManegedBean.prova.ativa}" />

				</h:panelGrid>

				<br />
				<h:commandButton value="Salvar"
					action="#{provaManegedBean.insertProva}"
					style="width: 100px; margin-left: 20px;" />
				<h:commandButton value="Novo" action="#{provaManegedBean.newProva}"
					style="width: 100px; margin-left: 20px;" />
			</div>
		</h:form>

		<h:form id="listProvas">
			<div style="margin-top: 20px;">
				<p:dataTable value="#{provaManegedBean.listProva}" var="provas"
					style="width: 70%; margin: auto;">
					<f:facet name="header">Lista de Provas Cadastradas</f:facet>
					<p:column headerText="Id" style="width: 60px;">
						<h:outputText value="#{provas.id}" />
					</p:column>
					<p:column headerText="Descrição" style="width: 200px;">
						<h:link outcome="./cadQuestaoProva.xhtml" value="#{provas.descricao}">
							<f:param name="provaId" value="#{provas.id}" />
						</h:link>
					</p:column>
					<p:column headerText="Status" style="width: 250px;">
						<h:outputText value="#{provas.ativa}" />
					</p:column>
					<p:column headerText="Total realizadas"
						style="width: 80px; text-align: center;">
						<h:outputText value="#{provas.totalRealizadas}" />
					</p:column>
					<p:column headerText="Editar"
						style="width: 90px; text-align: center;">
						<h:commandLink value="Editar" immediate="true" id="btnEdit">
							<f:setPropertyActionListener value="#{provas}"
								target="#{provaManegedBean.prova}" />
							<f:ajax execute="btnEdit" render="@form :cadProva" />
						</h:commandLink>
					</p:column>
					<p:column headerText="Remover"
						style="width: 90px; text-align: center;">
						<h:commandLink immediate="true" value="Remover"
							action="#{provaManegedBean.deleteProva}" id="btnRemover">
							<f:setPropertyActionListener value="#{provas}"
								target="#{provaManegedBean.prova}" />
							<f:ajax execute="btnRemover" render="@form :cadProva:msg"/>
						</h:commandLink>
					</p:column>
				</p:dataTable>
			</div>


		</h:form>
	</main>
</h:body>
</html>