<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
</h:head>

<h:body>
	<header>
		<ui:include src="./menu.xhtml" />
	</header>

	<main>

		<h:form id="cadQuestao">
			<div style="margin-top: 20px;">
				<h:messages showDetail="true" showSummary="false" id="msg" />
				<h:panelGrid columns="2">

					<h:outputLabel value="Descrição da prova:" />
					<h:outputText value="#{questoaManagedBean.prova.descricao}" />

					<h:outputLabel value="ID:" />
					<h:outputText readonly="true"
						value="#{questoaManagedBean.questao.id}" />

					<h:outputLabel value="Título:" />
					<h:inputTextarea value="#{questoaManagedBean.questao.titulo}"
						style="width: 500px; height: 200px;" />

				</h:panelGrid>

				<br />
				<h:commandButton value="Salvar"
					action="#{questoaManagedBean.insertQuestaoProva}"
					style="width: 100px; margin-left: 20px;" />
				<h:commandButton value="Novo"
					action="#{questoaManagedBean.newQuestaoProva}"
					style="width: 100px; margin-left: 20px;" />

			</div>
		</h:form>

		<h:form id="listQuestoes">
			<div style="margin-top: 20px;">
				<p:dataTable value="#{questoaManagedBean.prova.questoes}" var="questoes"
					style="width: 70%; margin: auto;">
					<f:facet name="header">Lista das Questões de Provas Cadastradas</f:facet>
					<p:column headerText="Id" style="width: 60px;">
						<h:outputText value="#{questoes.id}" />
					</p:column>
					<p:column headerText="Título da questão" style="width: 200px;">
						<h:link outcome="./respostaQuestao.xhtml" value="#{questoes.titulo}">
							<f:param name="questaoId" value="#{questoes.id}" />
						</h:link>
					</p:column>
					<p:column headerText="Prova"
						style="width: 80px; text-align: center;">
						<h:outputText value="#{questoaManagedBean.prova.descricao}" />
					</p:column>
					<p:column headerText="Editar"
						style="width: 90px; text-align: center;">
						<h:commandLink value="Editar" immediate="true" id="btnEdit">
							<f:setPropertyActionListener value="#{questoes}"
								target="#{questoaManagedBean.questao}" />
							<f:ajax execute="btnEdit" render="@form :cadQuestao" />
						</h:commandLink>
					</p:column>
					<p:column headerText="Remover"
						style="width: 90px; text-align: center;">
						<h:commandLink immediate="true" value="Remover"
							action="#{questoaManagedBean.deleteQuestao}" id="btnRemover">
							<f:setPropertyActionListener value="#{questoes}"
								target="#{questoaManagedBean.questao}" />
							<f:ajax execute="btnRemover" render="@form :cadQuestao:msg" />
						</h:commandLink>
					</p:column>
				</p:dataTable>
			</div>


		</h:form>

	</main>
</h:body>
</html>