<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<h:outputStylesheet library="styles" name="style.css" />
</h:head>

<h:body>
	<header>
		<ui:include src="./menu.xhtml" />
	</header>

	<main>
		<h:graphicImage library="assets" name="lyncas.jpg" styleClass="background" />
	</main>
</h:body>
</html>