<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
</h:head>

<h:body>
	<header>
		<ui:include src="./menu.xhtml" />
	</header>

	<main>
		<h:form>
			<h:messages showDetail="true" showSummary="false" id="msg"/>
			<h:outputLabel value="Login:" />
			<h:inputText value="#{loginManagedBean.email}" /><br />
			<h:outputLabel value="Senha:" />
			<h:inputText value="#{loginManagedBean.senha}" /><br />
			<h:commandButton action="#{loginManagedBean.logar}" value="Entrar" />
		</h:form>
		
	</main>
</h:body>
</html>