<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form>
		<p:growl id="messages" />

		<p:menubar>
			<p:menuitem value="Home" url="index.xhtml" />
			<p:submenu label="Cadastros">
				<p:menuitem value="Pessoas" url="cadPessoas.xhtml"/>
				<p:menuitem value="Provas" url="cadProva.xhtml"/>
			</p:submenu>
		</p:menubar>
	</h:form>
</h:body>
</html>