<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
</h:head>

<h:body>
	<header>
		<ui:include src="./menu.xhtml" />
	</header>

	<main>

		<h:form id="cadResposta">
			<div style="margin-top: 20px;">
				<h:messages showDetail="true" showSummary="false" id="msg" />
				<h:panelGrid columns="2">

					<h:outputLabel value="Descrição da questão:" />
					<h:outputText value="#{respostaManagedBean.questao.titulo}" />

					<h:outputLabel value="ID:" />
					<h:outputText readonly="true"
						value="#{respostaManagedBean.respostaQuestao.id}" />

					<h:outputLabel value="Descrição de resposta:" />
					<h:inputTextarea value="#{respostaManagedBean.respostaQuestao.descricaoResposta}"
						style="width: 500px; height: 200px;" />
					
					<h:outputLabel value="Resposta verdadeira:" />
					<p:selectBooleanCheckbox value="#{respostaManagedBean.respostaQuestao.verdadeira}" />

				</h:panelGrid>

				<br />
				<h:commandButton value="Salvar"
					action="#{respostaManagedBean.insertResposta}"
					style="width: 100px; margin-left: 20px;" />
				<h:commandButton value="Novo"
					action="#{respostaManagedBean.newResposta}"
					style="width: 100px; margin-left: 20px;" />

			</div>
		</h:form>

		<h:form id="listRespostas">
			<div style="margin-top: 20px;">
				<p:dataTable value="#{respostaManagedBean.questao.respostasQuestao}" var="respostas"
					style="width: 70%; margin: auto;">
					<f:facet name="header">Lista das Questões de Provas Cadastradas</f:facet>
					<p:column headerText="Id" style="width: 60px;">
						<h:outputText value="#{respostas.id}" />
					</p:column>
					<p:column headerText="Questão"
						style="width: 80px; text-align: center;">
						<h:outputText value="#{respostaManagedBean.questao.titulo}" />
					</p:column>
					<p:column headerText="Descrição da resposta" style="width: 200px;">
						<h:outputText value="#{respostas.descricaoResposta}" />
					</p:column>
					<p:column headerText="Resposta correta" style="width: 200px;">
						<h:outputText value="#{respostas.verdadeira}" />
					</p:column>
					<p:column headerText="Editar"
						style="width: 90px; text-align: center;">
						<h:commandLink value="Editar" immediate="true" id="btnEdit">
							<f:setPropertyActionListener value="#{respostas}"
								target="#{respostaManagedBean.respostaQuestao}" />
							<f:ajax execute="btnEdit" render="@form :cadResposta" />
						</h:commandLink>
					</p:column>
					<p:column headerText="Remover"
						style="width: 90px; text-align: center;">
						<h:commandLink immediate="true" value="Remover"
							action="#{respostaManagedBean.deleteResposta}" id="btnRemover">
							<f:setPropertyActionListener value="#{respostas}"
								target="#{respostaManagedBean.respostaQuestao}" />
							<f:ajax execute="btnRemover" render="@form :cadResposta:msg" />
						</h:commandLink>
					</p:column>
				</p:dataTable>
			</div>


		</h:form>

	</main>
</h:body>
</html>